* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0eb582;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.container .text {
    position: relative;
    font-size: 35px;
    color: #304fa7;
    font-weight: 600;
}

.container .text.first-text {
    color: white;
}

.text.sec-text::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0eb582;
    border-left: 2px solid #304fa7;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0;
    }
}